<mat-toolbar color="primary" style="width:100% !important" class="header">
  <mat-toolbar-row style="height: fit-content !important; padding-top: 10px !important;padding-bottom:10px;">
    <div class="d-flex align-items-center mr-auto" style="cursor: pointer" routerLink="/">
      <mat-icon style="margin-right: 10px;">
        chat
      </mat-icon>
      <h1>
        CHAT-IT
      </h1>
    </div>
    <span class="menu-spacer"></span>
      <ng-template [ngIf]="! data.isloggedin()">
          <a mat-button [routerLink]="'/login'">
            <mat-icon style="margin-right: 5px;">https</mat-icon>Login
          </a>
      </ng-template>
      <ng-template [ngIf]="! data.isloggedin()">
          <a mat-button [routerLink]="'/signup'">
            <mat-icon style="margin-right: 5px;">supervisor_account</mat-icon>Signup
          </a>
      </ng-template>
      <ng-template [ngIf]="data.isloggedin()">
          <a mat-button [routerLink]="'/chat'">
            <mat-icon style="margin-right: 5px;">chat</mat-icon>Chat
          </a>
      </ng-template>
      <ng-template [ngIf]="data.isloggedin()">
          <a mat-button [routerLink]="'/'" (click)="logout()">
            <mat-icon style="margin-right: 5px;">settings_power</mat-icon>Logout
          </a>
      </ng-template>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row class="d-flex justify-content-center">
    <p style="font-size: 20px;text-align: center;font-weight: bold;color:honeydew;">
      <b>
        Welcome to the chatrooom!!
      </b>
    </p>
  </mat-toolbar-row> -->
</mat-toolbar>