@media only screen and (max-width: 570px) {
  .row {
    margin-top: 130px !important;
    padding-top: 100px !important;
    padding-bottom: 50px !important;
  }
}

.mat-primary {
  // background: linear-gradient(
  //   112.5deg,
  //   rgb(95, 10, 135) 11.4%,
  //   rgb(164, 80, 139) 60.2%
  // ) !important;
  background: transparent;
  // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header{
  border-bottom: 1px solid white;
}

h1 {
  outline: none;
}
