.footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: linear-gradient(
    112.5deg,
    rgb(95, 10, 135) 11.4%,
    rgb(164, 80, 139) 60.2%
  ) !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding: 10px;
  box-shadow: 0px 3px 5px #000, 0px -3px 5px #000;
}
h3 {
  text-align: center;
  color: white;
  margin-bottom: 4px;
}
