.h2 {
  background-color: #7d0061;
  color: white;
  font-size: 18px;
  padding: 25px 0px;
  text-transform: capitalize;
  text-align: center;
  margin: 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

#mario-chat {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
}

#chat-window {
  height: calc(100vh - 230px);
  overflow-y: auto;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#output {
  height: 500px;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  border: 0;
  display: block;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 16px;
  outline: none !important;
}

#send {
  font-size: 18px;
  padding: 8px 0;
  width: 100%;
  border-radius: 0px !important;
  outline: none !important;
  cursor: pointer;
  background-color: #7d0061;
  color: white;
}

.userMessage {
  border: 1px solid #af6f6f26;
  min-width: 90px;
  width: fit-content;
  max-width: 70%;
  background-color: #98fb98;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 3px;
  color: white;
  text-align: right;
  margin-left: auto;
  margin-right: 3px;
  p {
    margin-bottom: 0px;
    text-align: left;
  }
  .ti {
    font-size: 9px;
    margin-top: 1px;
  }
}

.secUserMessage {
  border: 1px solid #af6f6f26;
  min-width: 90px;
  width: fit-content;
  text-overflow: clip;
  max-width: 70%;
  background-color: #f0f8ff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 3px;
  color: black;
  margin-left: 3px;
  p {
    margin-bottom: 0px;
  }
  .ti {
    font-size: 9px;
    display: block;
    text-align: right;
    margin-top: 1px;
  }
}

.isTyping {
  color: #888787;
  padding-left: 5px;
}

.litem {
  cursor: pointer;
}
.litem:hover {
  border-radius: 3px;
  background-color: white;
  color: black;
}

.header {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #7d0061;
  opacity: 1;
  h3 {
    margin: 0px;
  }
}
.p-card {
  padding: 0px;
  hr {
    margin: 1px;
  }
}
.mat-list {
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
}
.col-lg-3 {
  margin: 0px !important;
}
.col {
  margin: 0px;
  padding: 0%;
}

.cards {
  padding: 0px !important;
  animation: scale 1s;
  border-radius: 0px !important;
}

@keyframes scale {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 8px;
  padding: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px black !important;
}

::-webkit-scrollbar-thumb {
  background-color: #49176d;
  margin: 2px;
  border-radius: 10px;
}