/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
  background: linear-gradient(
    to right,
    rgb(5, 117, 230),
    rgb(2, 27, 121)
  ) !important;
  border: 0px;
  font-weight: 500;
  // box-shadow: 0 10px 6px -6px #000;
}

.snack {
  background: #d72323;
}

.Hglass {
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}