@keyframes scale {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
.jumbotron {
  background: linear-gradient(
    to right,
    rgb(100, 43, 115),
    rgb(198, 66, 110)
  ) !important;
  color: white;
  box-shadow: inset 0px 1px 6px 0px #000000;
  animation: scale 1s;
}

.lead {
  font-weight: bold;
}

.col-12:nth-child(even) {
  animation: left 1s;
}
.col-12:nth-child(odd) {
  animation: right 1s;
}
.mat-card .mat-focus-indicator .example-card:hover {
  transition: 0.5s;
  transform: translateX(-8px) translateY(-8px);
}

@keyframes left {
  from {
    transform: translateX(900px);
  }
  to {
    transform: scale(0px);
  }
}
@keyframes right {
  from {
    transform: translateX(-900px);
  }
  to {
    transform: scale(0px);
  }
}
